<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
        <!--<add key="Mode"  value="Daily" />-->
        <add key="Mode" value ="Interval"/>
        <add key="IntervalMinutes"  value="5" />
        <add key="ScheduledTime"  value="18:41" />
        <add key="VendorCode" value="VENDOR-CODE" />
        <add key="VendorKey" value="PASSWORD" />
        <add key="UMEME_Account" value="0123456789012"/>
    </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EPaymentSoap">
          <security mode="Transport" />
        </binding>
        <binding name="EPaymentSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://umemebillinterface"
        binding="basicHttpBinding" bindingConfiguration="EPaymentSoap"
        contract="UmemeBillingInterface.EPaymentSoap" name="EPaymentSoap" />
    </client>
  </system.serviceModel>

<connectionStrings>
    
    <add name="TORAN_LIVE" connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=ToranLiveDB;User ID=sa;Password=password" providerName="System.Data.SqlClient"/>
    <add name="TORAN_TEST" connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=ToranTestDB;User ID=sa;Password=password" providerName="System.Data.SqlClient"/>
    <add name="TORAN_LOCAL" connectionString="Data Source=server\sqlexpress;Initial Catalog=ToranLocalDB;User ID=sa;Password=password" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>

</configuration>
